@font-face {
   font-family: 'Century Gothic 400';
   font-display: swap;
   src: url('file:///C:/Users/Arya/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-19_221059/fonts/Century%20Gothic%20400/font.ttf');
}
